@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  position: relative;
  background-color: #efefef;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5vw;
  margin: auto;
  height: 50%;
}

.logout-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5vw;
  margin: auto;
  height: 40%;
  float: right;
  justify-self: end;
}

.sign-form {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  font-size: larger;
}

.sign-form label {
  margin-top: 2vh;
}

input {
  border-radius: 10%;
}

.sumbit {
  background-color: #d12f2f;
  margin-top: 3vh;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  font-size: larger;
  margin-top: -100vh;
  background-color: rgb(230, 230, 230);
  opacity: 0.85;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.login-page label {
  margin-top: 2vh;
}
.error {
  color: #ff0033;
}
.signup-link {
  margin-bottom: 10vh;
  font-size: large;
  float: right;
}

li {
  list-style: none;
  font-size: larger;
  margin-bottom: 1vh;
  font-size: 26px;
}

.learning-objective-container {
  padding-bottom: 60px;
  background-color: #efefef;
  position: absolute;
  margin-left: 25%;
  margin-bottom: 11vh;
  width: 60%;
  padding: 2%;
}
.edit-display-container {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  margin-left: 5vh;
}
.default-skill-display {
  color: black;
  font-size: 32px;
  font-weight: 400;
  line-height: 65px;
}

.default-skill-display:hover {
  color: #db4437;
}

.active-skill-display {
  color: #db4437;
  text-decoration-line: underline;
  font-weight: bolder;
  text-size-adjust: 42px;
}

.skills-container {
  background-color: #e6dcdc;
  border-radius: 6px;
  width: 20%;
  padding: 2%;
  height: 100vh;
  text-align: left;
}

.skills-container A {
  color: #db4437;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-size: larger;
  font-weight: 600;
}

.skills-container .edit-btn:not A:hover {
  background-color: rgb(18, 88, 90);
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.skills-container A:checked {
  background-color: rgb(18, 88, 90);
}

.skills-container A:focus {
  background-color: rgb(18, 88, 90);
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

/* .current {
  background-color: yellow;
  color: white;
  border-radius: 4px;
  text-decoration: none;
} */
.modal-body .modal-footer {
  font-size: larger;
}

.modal-footer button {
  background-color: #db4437;
}

.delete-btn {
  float: right;
}

.edit-btn {
  float: left;
}

.edit-delete-buttons {
  margin-bottom: 20%;
}

.add-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crud:hover {
  cursor: pointer;
}
.add-btn {
  width: 100px;
  height: 40px;
  text-overflow: -50% -50%;
  border-radius: 5px;
}

.skill-name {
  margin-bottom: 10%;
}

.mentorsview-header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.name-list {
  font-size: larger;
}

.student-list {
  position: relative;
}

.students-name {
  position: absolute;
  margin-left: 10%;
}

.description {
  font-size: larger;
}

.skillsnav-page {
  position: relative;
}

.mentorsview-page {
  position: relative;
}

.mentorsedit-page {
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #efefef;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-input {
  border-radius: 0%;
}

.footer-contact img {
  height: 20px;
  margin-left: 10px;
}

.footer-submit {
  background-color: #db4437;
  color: #efefef;
}
.display-details {
  display: flex;
  justify-content: space-between;
}
