@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 10vh;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

.sign-form {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  font-size: larger;
}

.sign-form label {
  margin-top: 2vh;
}

input {
  border-radius: 10%;
}

.sumbit {
  background-color: #d12f2f;
  margin-top: 3vh;
}

.submit {
  background-color: #d12f2f;
  margin: 3vh;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  font-size: larger;
}

.login-page label {
  margin-top: 2vh;
}
.error {
  color: #ff0033;
}
.signup-link {
  font-size: large;
  float: right;
}

li {
  list-style: none;
  font-size: larger;
  margin-bottom: 1vh;
}

.learning-objective-container {
  background-color: #efefef;
  position: absolute;
  margin-left: 25%;
  width: 50%;
  padding: 2%;
}

.skills-container {
  background-color: #e6dcdc;
  border-radius: 6px;
  width: 20%;
  padding: 2%;
}

.skills-container A {
  color: #d12f2f;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-size: 20px;
}

.skills-container A:hover {
  background-color: rgb(18, 88, 90);
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.skills-container A:focus {
  background-color: rgb(18, 88, 90);
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

/* .current {
  background-color: yellow;
  color: white;
  border-radius: 4px;
  text-decoration: none;
} */
.modal-body .modal-footer {
  font-size: larger;
}

.modal-footer button {
  background-color: #d12f2f;
}

.delete-btn {
  float: right;
  border-radius: 5%;
}

.expand-btn {
  float: right;
  border-radius: 5%;
}

.edit-btn {
  width: 100px;
  height: 35px;
  border-radius: 5%;
}

.edit-delete-buttons {
  margin-bottom: 10%;
}

.add-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  width: 100px;
  height: 40px;
  /* text-align: center; */
  text-overflow: -50% -50%;
  border-radius: 5px;
}

.skill-name {
  margin-bottom: 10%;
}

.mentorsview-header-container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.name-list {
  font-size: larger;
}

.students-name {
  margin-top: 10%;
}
