.btn-green {
  background-color: #008000;
}
.btn-yellow {
  background-color: orange;
}
.btn-red {
  background-color: #db4437;
}
.btn-blue {
  background-color: blue;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}
.btn-style button {
  border-radius: 7%;
  box-shadow: 0px 0px 3px 1px black;
  margin-bottom: 10%;
  margin-top: 5%;
  font-size: 18px;
}
