.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Star {
  background-color: red;
  color: White;
  font-weight: bold;
}

.nav{
  background-color: darkgray;
}
.nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  
}

.nav ul li{
  margin-top: 30px; 
}

h2{
  margin-top: 180px;
  font-size: larger;
}